.square {
    height: 25px;
    background-color: grey;
    float: left;
    padding: 1px;
    margin: 1px;
}

.square1 {
    height: 25px;
    background-color: red;
    float: left;
    padding: 1px;
    margin: 1px;
}

.room .bed {
    width: 42px;
    height: 36px;
    background-color: gray;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    line-height: 36px;
    margin: 0 2px;
}

.room .bed:hover {
    color: #fff;
    text-decoration: none;
}

.room .blank:hover {
    opacity: 0.75;
}

.room .booked {
    background-color: red;
    cursor: not-allowed;
    opacity: 0.5;
}

.room .selected {
    background-color: green;
}

.dataTables_filter{
    float: right;
}
.table-responsive{
    overflow-x: hidden;
}
.dt-buttons{
    display: none;
}

.student-dashboard .img-profile .edit-img-profile {
    position: inherit;
}

.stid,.stid1 {
    display: block;
    width: 7.5%;
    float: left;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
