.signatures{}
.sign_student{text-align: left; width: 100%; max-width: 300px; height: 50px; border-bottom: 1px solid #999; overflow: hidden; margin: 0 auto 10px 0}
.sign_student img{height: 48px; width: auto}
.sign_prof{text-align: right; height: 50px; margin:0 0 10px auto;  max-width: 300px; border-bottom: 1px solid #999 }
.sign_prof img{height: 48px; width: auto}
.emergency_no{position: absolute;top: 45%;right: -50px;font-size: 18px;font-weight: 500;transform: rotate(90deg);}

 

@media print {
/*    @page {size:86mm 54mm; margin:5mm; vertical-align: top}
    *{color: #000 !important;text-shadow: none !important;box-shadow: none !important;    }    
    body{width: 100%; width:100%; margin: 0;padding: 0;   color: #000 !important; }
    body {font-size:5pt!important; margin: 0 !important; line-height: 1 !important;}
    body,html{height: 100%; position: relative}
    * { background:transparent !important; color:#000 !important; text-shadow:none !important; filter:none !important; font-family: 'Arial', Arial, sans-serif !important }
    h1{font-size:12pt !important;  margin: 0 0 10px}
    h2{font-size:10pt !important; font-weight: normal !important;  margin: 0 0 10px}
    h3{font-size:8pt!important; font-weight: normal !important ; margin: 0 0 10px}
    h1, h2, h3, h4, h5, h6{page-break-after: avoid;}
    * {-webkit-print-color-adjust: exact; print-color-adjust: exact;}
    a{text-decoration: none !important; color:#000 !important;}
    body,html,*{font-size: 5px!important}    
    .tableFrontCardMain{width: 36mm!important}
    */
}